<link href="../styles/app.css" rel="stylesheet" type="text/css">
<!-- <link href="../styles/alfheim.css" rel="stylesheet" type="text/css"> -->
<div class="container">
  <div class="header">
  <h3>Lives: {{player.lives}} / Level: {{player.level}}</h3>
  </div>
  <div class="body">
    {{outlet}}
  </div>

</div>
