<link href="../styles/app.css" rel="stylesheet" type="text/css">
<!-- <link href="../styles/alfheim.css" rel="stylesheet" type="text/css"> -->
<div class="container">
  <div class="header">
    <ul>
      {{#each model as |player|}}
        {{new-player player=player}}
      {{/each}}
    </ul>
  </div>
  <div class="body">
    {{outlet}}
  </div>

</div>
