<h1>Journey to Asgard</h1>
<h2>You’re a young, capable human trying to attain their God status. You must make it through the 9 worlds to attain your God status in Asgard. Each world will pose a unique threat. The creatures of each world have lessons to teach you. Be careful, you’re not immortal yet; your lives are listed in the corner.</h2>
<h3>First, select the God you worship. Each will give you certain abilities.</h3>

{{new-player savePlayer="savePlayer"}}
<div id="beginNext">
  {{#link-to 'midgard'}}Start{{/link-to}}
</div>

{{outlet}}
